:where(html) {
  display: grid;
  height: 100vh;
  height: 100dvh;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 20px;
}

nav, h1, h2, h3, h4, h5, h6 { font-family: "Rubik", sans-serif; }